---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>底妆区</h1>
			<h2>一、粉底液</h2>
			<p>
				1.蜜丝婷：<br>
						银盾、蓝盾、白盾、4K系列全肤质蓝盾：一出油就化，不出油就卡粉	
						<Image
  							src="./图片1.png"
  							alt="descriptive text"
  							width="200"
  							height="150"

						<img src="./图片1.png" alt="图片1" class="product-image">
							<br>
						银盾：定位是适合干皮，但是干皮用了只会干到卡粉
						<img src="./图片2.png" alt="图片2" class="product-image">
							<br>
						白盾：上脸很厚重，时间越久浮粉越严重
						<img src="./t3.png" alt="图片3" class="product-image">
						<br>
						4K：持妆非常一般，干皮版、油皮版、混合版都会浮粉严重（mistine只有金盾能用。）
						<img src="./t4.png" alt="图片4" class="product-image">

			</p>
			<p>
				2.卡姿兰：<br>
				小夜猫粉底液：用了全脸斑驳卡粉
				小奶猫粉底液：严重脱妆
				安瓶黑白瓶：持妆不行，短时间内好看，两三个小时后脱妆明显
			</p>
			<p>
				3.PL：<br>
			看不见粉底液：1.0版本非常好但是 2.0开始每个版本：粉感重，拔干、厚重
			蹭不掉粉底液：四个小时暗沉两个色度
			</p>
			
			<p>
				4.方里：：<br>
				小方砖油皮版：挑皮肤状态，只适合皮肤平滑无瑕疵的大油皮使用，有瑕疵的皮肤一定会卡粉，出油量不够会掉渣
			</p>
			<p>
				5.Kato：<br>
				干皮版油皮版：出油量不够就会拔干卡粉，皮肤有瑕疵起皮就会卡粉斑驳		
			</p>
			<p>
				6.Unny：<br>
				黑盖粉底液：出油量不够就会拔干卡粉，皮肤有瑕疵起皮就会卡粉斑驳		
			</p>
			<p>
				7.Uodo:<br>
				宣传广告开磨皮<br>
				干皮版:全脸倒拔干，眼下积线，鼻翼卡粉<br>
				油皮版:眼下积线，明显颗粒感

			</p>
			<p>
				8.Kled:<br>
				干皮版:上脸速干，出点儿油直接脱妆

			</p>
			<p>
				9.dpdp:<br>
				油皮版:根本不控油，皮肤状态不好时上妆颗粒感重
			</p>
			<p>
				10.兰蔻、雅诗兰黛:<br>
				白金、菁纯、沁水这三款非常挑皮肤状态
				白金:上妆三小时后全脸浮粉严重，像芝麻粒
				菁纯:全脸浮粉，眼下卡纹积线特别严重
				沁水:纯干皮用了很好，但是稍微出点油就斑驳堆积
			</p>
			<h2>二、气垫</h2>
		</main>
		<Footer />
	</body>
</html>
