---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
    	  .custom-image {
     	  width: 300px; /* 设置图片的宽度 */
      	  height: 200px; /* 设置图片的高度 */
          object-fit: cover; /* 保持图片比例 */
          display: block; /* 确保图片单独占据一行 */
          margin-bottom: 10px; /* 可选：增加底部间距 */
    	  }
 		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>底妆区</h1>
			<h2>一、粉底液</h2>
			<p>
				1.蜜丝婷：<br>
						银盾、蓝盾、白盾、4K系列全肤质蓝盾：一出油就化，不出油就卡粉	
						<img src="./图片1.png" alt="图片1" class="custom-image">
							<br>
						银盾：定位是适合干皮，但是干皮用了只会干到卡粉
						<img src="./图片2.png" alt="图片2" class="custom-image">
							<br>
						白盾：上脸很厚重，时间越久浮粉越严重
						<img src="./t3.png" alt="图片3" class="custom-image">
						<br>
						4K：持妆非常一般，干皮版、油皮版、混合版都会浮粉严重（mistine只有金盾能用。）
						<img src="./t4.png" alt="图片4" class="custom-image">

			</p>
			<p>
				2.卡姿兰：<br>
				小夜猫粉底液：用了全脸斑驳卡粉
				<img src="./2.1.png" alt="图片4" class="custom-image">
				小奶猫粉底液：严重脱妆
				<img src="./2.2.png" alt="图片4" class="custom-image">
				安瓶黑白瓶：持妆不行，短时间内好看，两三个小时后脱妆明显
				<img src="./2.3.png" alt="图片4" class="custom-image">
				<img src="./2.3.1.png" alt="图片4" class="custom-image">

			</p>
			<p>
				3.PL：<br>
			看不见粉底液：1.0版本非常好但是 2.0开始每个版本：粉感重，拔干、厚重
			<img src="./3.png" alt="图片4" class="custom-image">
			蹭不掉粉底液：四个小时暗沉两个色度
			<img src="./3.1.png" alt="图片4" class="custom-image">
			</p>
			<p>
				4.方里：：<br>
				小方砖油皮版：挑皮肤状态，只适合皮肤平滑无瑕疵的大油皮使用，有瑕疵的皮肤一定会卡粉，出油量不够会掉渣
				<img src="./4.png" alt="图片4" class="custom-image">
			</p>
			<p>
				5.Kato：<br>
				干皮版油皮版：出油量不够就会拔干卡粉，皮肤有瑕疵起皮就会卡粉斑驳
				<img src="./5.png" alt="图片4" class="custom-image">	
				<img src="./5.1.png" alt="图片4" class="custom-image">	
			</p>
			<p>
				6.Unny：<br>
				黑盖粉底液：出油量不够就会拔干卡粉，皮肤有瑕疵起皮就会卡粉斑驳		
				<img src="./6.png" alt="图片4" class="custom-image">
			</p>
			<p>
				7.Uodo:<br>
				宣传广告开磨皮<br>
				干皮版:全脸倒拔干，眼下积线，鼻翼卡粉<br>
				<img src="./7.png" alt="图片4" class="custom-image">
				油皮版:眼下积线，明显颗粒感

			</p>
			<p>
				8.Kled:<br>
				干皮版:上脸速干，出点儿油直接脱妆


			</p>
			<p>
				9.dpdp:<br>
				油皮版:根本不控油，皮肤状态不好时上妆颗粒感重
			</p>
			<p>
				10.兰蔻、雅诗兰黛:<br>
				白金、菁纯、沁水这三款非常挑皮肤状态
				白金:上妆三小时后全脸浮粉严重，像芝麻粒
				菁纯:全脸浮粉，眼下卡纹积线特别严重
				沁水:纯干皮用了很好，但是稍微出点油就斑驳堆积
			</p>
			<h2>二、气垫</h2>

			<p>1.蜜丝婷:气垫只有暹罗油皮版好用<br>
						金气垫:定位混油皮，但一出油就浮粉斑驳脱

						粉气垫:持妆不行，6小时后粉呈颗粒状浮出<br>
						暹罗干皮版:倒拔干，眼下、法令纹、下巴、眼皮卡粉严重
				<br>
				2.PL:<br>
					看不见气垫:定位干皮，但是润度完全不够，粉感重<br>
					蹭不掉气垫:定位油皮，倒拔干，严重暗沉

				<br>
				3.卡姿兰:<br>
				小奶猫气垫:全脸浮粉，鼻子稍微出油就脱妆<br>
				小夜猫气垫:浮粉严重，毫无遮瑕力

				<br>
				4.欧莱雅:<br>
				黑金气垫:刚上脸妆效高级，但是稍微出点儿油就化开了，混干皮肤用不了一点<br>


				<br>
				5.爱敬:（爱割学生党韭菜）<br>
				干皮粉盒:浮粉拔干，妆面潦草
				油皮白盒:三小时显黑头毛孔
				全肤质黑盒:出点儿油就厚重又假面
				四色拉花:放大毛孔
				<br>

				6.美诺:<br>
				粉我系列油皮版可以<br>
				粉我系列干皮版:妆面像鱼鳞一样散开

				<br>
				7.方里:<br>
				开挂气垫:干皮版干皮根本用不了，油皮版一定妆脸上就结块
				<br>
				8.橘朵:
				冰美式气垫:持妆差，浮粉斑驳严重<br>
				怼脸拍气垫:一样持妆差，妆效像碎了一样

				<br>
				9.唐魅可:<br>
				抹茶气垫:粉扑巨难用，一压一个痕，浮粉脱妆

				<br>
				10.春汀:<br>
				刚上来乍一眼看很自然，但仔细看粉都是浮的，出油的地方就脱妆，不出油的地方就浮粉积线

				<br>
				11.蒂洛薇:<br>
				干皮版油皮版:刚上脸就浆在一起，像泥巴一样，时间越久结坨越严重
			</p>























		</main>
		<Footer />
	</body>
</html>
