---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
    	  .custom-image {
     	  width: 300px; /* 设置图片的宽度 */
      	  height: auto; /* 设置图片的高度 */
          object-fit: cover; /* 保持图片比例 */
          display: block; /* 确保图片单独占据一行 */
          margin-bottom: 10px; /* 可选：增加底部间距 */
    	  }
 		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>底妆区</h1>
			<h2>一、粉底液</h2>
			<p>
				1.蜜丝婷：<br>
						银盾、蓝盾、白盾、4K系列全肤质蓝盾：一出油就化，不出油就卡粉	
						<img src="./图片1.png" alt="图片1" class="custom-image">
							<br>
						银盾：定位是适合干皮，但是干皮用了只会干到卡粉
						<img src="./图片2.png" alt="图片2" class="custom-image">
							<br>
						白盾：上脸很厚重，时间越久浮粉越严重
						<img src="./t3.png" alt="图片3" class="custom-image">
						<br>
						4K：持妆非常一般，干皮版、油皮版、混合版都会浮粉严重（mistine只有金盾能用。）
						<img src="./t4.png" alt="图片4" class="custom-image">

			</p>
			<p>
				2.卡姿兰：<br>
				小夜猫粉底液：用了全脸斑驳卡粉
				<img src="./2.1.png" alt="图片4" class="custom-image">
				小奶猫粉底液：严重脱妆
				<img src="./2.2.png" alt="图片4" class="custom-image">
				安瓶黑白瓶：持妆不行，短时间内好看，两三个小时后脱妆明显
				<img src="./2.3.png" alt="图片4" class="custom-image">
				<img src="./2.3.1.png" alt="图片4" class="custom-image">

			</p>
			<p>
				3.PL：<br>
			看不见粉底液：1.0版本非常好但是 2.0开始每个版本：粉感重，拔干、厚重
			<img src="./3.png" alt="图片4" class="custom-image">
			蹭不掉粉底液：四个小时暗沉两个色度
			<img src="./3.1.png" alt="图片4" class="custom-image">
			</p>
			<p>
				4.方里：：<br>
				小方砖油皮版：挑皮肤状态，只适合皮肤平滑无瑕疵的大油皮使用，有瑕疵的皮肤一定会卡粉，出油量不够会掉渣
				<img src="./4.png" alt="图片4" class="custom-image">
			</p>
			<p>
				5.Kato：<br>
				干皮版油皮版：出油量不够就会拔干卡粉，皮肤有瑕疵起皮就会卡粉斑驳
				<img src="./5.png" alt="图片4" class="custom-image">	
				<img src="./5.1.png" alt="图片4" class="custom-image">	
			</p>
			<p>
				6.Unny：<br>
				黑盖粉底液：出油量不够就会拔干卡粉，皮肤有瑕疵起皮就会卡粉斑驳		
				<img src="./6.png" alt="图片4" class="custom-image">
			</p>
			<p>
				7.Uodo:<br>
				宣传广告开磨皮<br>
				干皮版:全脸倒拔干，眼下积线，鼻翼卡粉<br>
				油皮版:眼下积线，明显颗粒感
				<img src="./7.png" alt="图片4" class="custom-image">
			</p>
			<p>
				8.Kled:<br>
				干皮版:上脸速干，出点儿油直接脱妆
				<img src="./8.png" alt="图片4" class="custom-image">

			</p>
			<p>
				9.dpdp:<br>
				油皮版:根本不控油，皮肤状态不好时上妆颗粒感重
			</p>
			<p>
				10.兰蔻、雅诗兰黛:<br>
				白金、菁纯、沁水这三款非常挑皮肤状态
				<img src="./9.png" alt="图片4" class="custom-image">
				白金:上妆三小时后全脸浮粉严重，像芝麻粒
				<img src="./9.1.png" alt="图片4" class="custom-image">
				菁纯:全脸浮粉，眼下卡纹积线特别严重
				沁水:纯干皮用了很好，但是稍微出点油就斑驳堆积

			</p>
			<h2>二、气垫</h2>

			<p>1.蜜丝婷:气垫只有暹罗油皮版好用<br>
						金气垫:定位混油皮，但一出油就浮粉斑驳脱
						<img src="./01.png" alt="图片4" class="custom-image">
						粉气垫:持妆不行，6小时后粉呈颗粒状浮出<br>
						暹罗干皮版:倒拔干，眼下、法令纹、下巴、眼皮卡粉严重
						<img src="./01.1.png" alt="图片4" class="custom-image">
				<br>
				2.PL:<br>
					看不见气垫:定位干皮，但是润度完全不够，粉感重<br>
					蹭不掉气垫:定位油皮，倒拔干，严重暗沉
					<img src="./02.png" alt="图片4" class="custom-image">
				<br>
				3.卡姿兰:<br>
				小奶猫气垫:全脸浮粉，鼻子稍微出油就脱妆<br>
				小夜猫气垫:浮粉严重，毫无遮瑕力
				<img src="./03.png" alt="图片4" class="custom-image">

				<br>
				4.欧莱雅:<br>
				黑金气垫:刚上脸妆效高级，但是稍微出点儿油就化开了，混干皮肤用不了一点<br>
				<img src="./04.png" alt="图片4" class="custom-image">

				<br>
				5.爱敬:（爱割学生党韭菜）<br>
				干皮粉盒:浮粉拔干，妆面潦草
				油皮白盒:三小时显黑头毛孔
				全肤质黑盒:出点儿油就厚重又假面
				四色拉花:放大毛孔
				<img src="./05.png" alt="图片4" class="custom-image">
				<img src="./05.1.png" alt="图片4" class="custom-image">
				<br>

				6.美诺:<br>
				粉我系列油皮版可以<br>
				粉我系列干皮版:妆面像鱼鳞一样散开
				<img src="./06.png" alt="图片4" class="custom-image">

				<br>
				7.方里:<br>
				开挂气垫:干皮版干皮根本用不了，油皮版一定妆脸上就结块
				<img src="./07.png" alt="图片4" class="custom-image">
				<br>
				8.橘朵:
				冰美式气垫:持妆差，浮粉斑驳严重<br>
				怼脸拍气垫:一样持妆差，妆效像碎了一样
				<img src="./08.png" alt="图片4" class="custom-image">

				<br>
				9.唐魅可:<br>
				抹茶气垫:粉扑巨难用，一压一个痕，浮粉脱妆
				<img src="./09.png" alt="图片4" class="custom-image">

				<br>
				10.春汀:<br>
				刚上来乍一眼看很自然，但仔细看粉都是浮的，出油的地方就脱妆，不出油的地方就浮粉积线
				<img src="./010.png" alt="图片4" class="custom-image">

				<br>
				11.蒂洛薇:<br>
				干皮版油皮版:刚上脸就浆在一起，像泥巴一样，时间越久结坨越严重
				<img src="./01.png" alt="图片4" class="custom-image">
				12.修可芙:<br>
				御光气垫:不遮瑕不持妆，上脸结团
				<img src="./012.png" alt="图片4" class="custom-image">
			</p>
		<h1>定妆区</h1>
		<h2>一、散粉</h2>
			<p>
				1.花西子:<br>
				空气散粉:只能压油光，有瑕疵和细纹绝对会卡
				<img src="./d1.png" alt="图片4" class="custom-image">
				Kato和卡姿兰买旧不买新
				<br>
				2.Kato:<br>
				银盖散粉:皮肤越干，颗粒感越明显越粗糙	
				<img src="./d2.png" alt="图片4" class="custom-image"><br>
				3.卡姿兰:
				黑磁散粉2.0:<br>
				比1.0版本磨皮感减弱了的同时更拔干了
				<img src="./d3.png" alt="图片4" class="custom-image"><br>
				4.诗佩妮:买新不买旧<br>
				老版粉盖散粉:不扒脸，稍微一蹭就掉
				<img src="./d4.png" alt="图片4" class="custom-image"><br>
				5.橘朵:<br>
				轻雾散粉:没有提亮效果，不磨皮，让妆面变脏<br>
				新款马拉松散粉:没有提亮效果，不磨皮，显得妆面粗糙
				<img src="./d5.png" alt="图片4" class="custom-image"><br>
				6.AKF:<br>
				镭射盖和紫盖:无提亮效果，让妆面显得粗糙又廉价
				<img src="./d6.png" alt="图片4" class="custom-image"><br>
				7.Unny:<br>
				小黑伞散粉:粉感粗糙，倒吸脸上的水分
				<img src="./d7.png" alt="图片4" class="custom-image"><br>
				8.美康:<br>
				粉黛散粉:卡纹，不吸油反而吸脸上的水分
				<img src="./d8.png" alt="图片4" class="custom-image"><br>
				9.rcma:<br>
				胡椒粉:非常干！粉很粗糙
				<img src="./d9.png" alt="图片4" class="custom-image"><br>
				10.纪梵希:<br>
				四宫格散粉:458一盒，比它好用的定妆产品很多，没必要花那么多钱买它
				<img src="./d10.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>二、粉饼</h2>
			<p>
				1.美宝莲:<br>
				fit me粉饼:上脸粉质粗，补妆就结坨
				<img src="./d2.1.png" alt="图片4" class="custom-image"><br>
				2.方里:<br>
				粉质粗，粉感重，不能补妆，不然结坨，并且压盘不实，粉会掉
				<img src="./d2.2.png" alt="图片4" class="custom-image"><br>
				3.Kiko:<br>
				粉感重，容易卡
				<img src="./d2.3.png" alt="图片4" class="custom-image"><br>
				4.欧莱雅:<br>
				磨皮粉饼:用来定妆都粉感重，浮粉严重，出油的地方该脱还是脱
				<img src="./d2.4.png" alt="图片4" class="custom-image"><br>
				5.花西子:<br>
				紫色和粉色的玉养粉饼:紫色没有任何提亮效果，反而发灰，粉色没有任何膨胀效果，反而发红，并且这两款粉饼一补妆就结坨
				<img src="./d2.5.png" alt="图片4" class="custom-image"><br>
				6.酵色:<br>
				补光灯粉饼:上脸颜色割裂，出点儿油就散开
				<img src="./d2.6.png" alt="图片4" class="custom-image"><br>
				7.Kato:	<br>
				拔干，妆感重
				<img src="./d2.7.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>三、定妆喷雾</h2>
			<p>卡姿兰、欧莱雅、柏瑞美黑瓶白瓶、uhue:喷头品控就有问题。</p>
			<p>
				1.卡姿兰和欧莱雅:<br>
				喷出的水珠很粗，会把底妆滋花
				<img src="./d3.1.png" alt="图片4" class="custom-image"><br>
				2.柏瑞美:<br>
				喷头不稳定，不知道哪一次用喷头就变成滋水枪了<br>
				清透定妆喷雾:喷在脸上直接融妆，底妆白化
				<img src="./d3.2.png" alt="图片4" class="custom-image"><br>
				3.Uhue:<br>
				用完脸上变成一块儿一块儿的，用完妆面会更粗糙
				<img src="./d3.3.png" alt="图片4" class="custom-image"><br>
				4.Unny:<br>
				白瓶定妆喷雾:用了会加速底妆斑驳和脱妆<br>
				新娘喷雾:成膜慢，出油就会带走底妆
				<img src="./d3.4.png" alt="图片4" class="custom-image"><br>
				5.Mac:<br>
				白喷:一点成膜剂都没有
				紫喷:出油的地方该脱妆还是脱
				<img src="./d3.5.png" alt="图片4" class="custom-image"><br>
				6.酵色:<br>
				没有用，宣传多但是产品根本不好用
				<img src="./d3.6.png" alt="图片4" class="custom-image"><br>
				7.babi:<br>
				维C定妆喷雾:妆面该暗沉还是暗沉
				<img src="./d3.7.png" alt="图片4" class="custom-image"><br>
				8.Unny:<br>
				黑盖定妆喷雾:15分钟都不成膜
				<img src="./d3.8.png" alt="图片4" class="custom-image"><br>
			</p>
		<h1>彩妆区</h1>
		<h2>一、遮瑕</h2>
			<p>
				1.毛戈平双色遮瑕、歌剧魅影:
				非常拔干而且厚重，很挑手法
				<img src="./cz1.png" alt="图片4" class="custom-image"><br>
				2.蜜丝婷、红地球、芭贝拉、kato:<br>
				一上底妆就会移位，好不容易遮住的瑕疵又会暴露出来
				<img src="./cz2.png" alt="图片4" class="custom-image"><br>
				3.Tifit:<br>
				刚上脸还可以，但是过一会儿就会浮
				<img src="./cz3.png" alt="图片4" class="custom-image"><br>
				4.Unny:<br>
				粉感重，而且会在眼下开裂
				<img src="./cz4.png" alt="图片4" class="custom-image"><br>
				5.乐得:<br>
				又厚重又暗沉，让脸黄一块、白一块
				<img src="./cz5.png" alt="图片4" class="custom-image"><br>
				6.酵色遮瑕蜜:<br>
				遮了跟没遮一样，基础的泛红和斑点都遮不住
				<img src="./cz6.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>二、修容</h2>
			<p>
				1.橘朵:<br>
				浅色修容不显色，深色修容发红，而且粉质很涩，不好晕开，很容易带花底妆
				<img src="./cz2.1.png" alt="图片4" class="custom-image"><br>
				2.万花镜:<br>
				克重大但是只有中间一个修容色能用，哑光高光太暗，完全没有提亮效果，浅色修容太黄
				<img src="./cz2.2.png" alt="图片4" class="custom-image"><br>
				3.kato和hedone:<br>
				修容色都太黄了，而且粉很干涩，不好晕染，并且hedone是霜转粉的质地，容易把底妆刮下来
				<img src="./cz2.3.png" alt="图片4" class="custom-image"><br>
				4.小奥汀:<br>
				大卫修容:珠光高光有点粗糙，会很显毛孔，并且太容易碎了
				<img src="./cz2.4.png" alt="图片4" class="custom-image"><br>
				5.花西子:<br>
				珠光修容:高光颜色死白，腮红颜色又非常红，价格还高
				<img src="./cz2.5.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>三、眼线笔</h2>
			<p>
				1.橘朵:<br>
				漏墨非常严重
				<img src="./cz3.1.png" alt="图片4" class="custom-image"><br>
				2.昙雅:<br>
				笔头稍微用久一点就会分叉，而且它的盖子容易弹射出去，包装品控很差
				<img src="./cz3.2.png" alt="图片4" class="custom-image"><br>
				3.colorkey:<br>
 				笔头会分叉
				<img src="./cz3.3.png" alt="图片4" class="custom-image"><br>
				4.unny:<br>
				不好上色，且上色不均，容易断
				<img src="./cz3.4.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>四、睫毛膏</h2>
			<p>
				1.Unny:<br>
				睫毛膏膏体太稀了，稍微一眨眼就会沾到下眼睑
				<img src="./4.1.png" alt="图片4" class="custom-image"><br>
				2.AKF和五月季:<br>
				广告铺天盖地，但是一上眼膏体就粘在一起
				<img src="./4.2.png" alt="图片4" class="custom-image"><br>
				3.蜜丝婷:<br>
				粉管睫毛膏:苍蝇腿非常严重，纤维很容易掉进眼睛里
				<img src="./4.3.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>五、假睫毛</h2>
			<p>
				1.悦瞳:<br>
				磁吸睫毛:对眼型非常挑剔，很难贴合
				<img src="./5.1.png" alt="图片4" class="custom-image"><br>
				2.uimo:<br>
				都市女白领免检假睫毛:一贴就直接翻到眼皮上面
				<img src="./5.2.png" alt="图片4" class="custom-image"><br>
				3.魔仙睫的淘气精灵款，萌睫尚品的整条漫画睫、黑金萝莉和Doll感漫画睫，兔奶奶的S04:<br>
				每一簇毛直接没有衔接，贴完只能看到很粗的那几根，带上去非常夸张，又显廉价
				<img src="./5.3.png" alt="图片4" class="custom-image"><br>
				4.各类泰式分段w型、任何的婴儿弯和婴儿直:<br>
				上眼后不自然
				<img src="./5.4.png" alt="图片4" class="custom-image"><br>
				5.各类塔尖麦穗、l型麦穗、双头麦穗:<br>
				像钉耙，没有层次感，很假
				<img src="./5.5.png" alt="图片4" class="custom-image"><br>
			</p>
		<h2>六、口红</h2>
			<p>
				1.花洛莉亚:<br>
				初吻爱心棒:容易化，在嘴上涂不开还结块拉丝
				<img src="./6.1.png" alt="图片4" class="custom-image"><br>
				2.酵色:<br>
				晶冻:容易化，涂不开，会结块拉丝
				唇釉:涂不开，且调色非常荧光，涂出来的颜色和宣传图完全不符合
				<img src="./6.2.png" alt="图片4" class="custom-image"><br>
				3.橘朵:<br>
				冰熨斗:涂不开，遇水就泛白
				<img src="./6.3.png" alt="图片4" class="custom-image"><br>

			</p>
		<h1>工具区</h1>
		<h2>粉扑</h2>
			<p>
				1.everbab、尔木萄100分、妖制皮面和加厚皮面、郭小妞黄油粉扑:<br>
				吃粉严重
				<img src="./gj1.png" alt="图片4" class="custom-image"><br>
				2.郭小妞千鸟格粉扑:<br>
				不够厚实，没有什么缓冲力，上妆吃力
				<img src="./gj2.png" alt="图片4" class="custom-image"><br>
				3.荔树黑凤梨粉扑:<br>
				材质太硬，打在脸上邦邦响
				<img src="./gj3.png" alt="图片4" class="custom-image"><br>
				4.尔木萄北斗七星粉扑:<br>
				让妆效变丑，打出来的底妆会浮在脸上，边角处理的不好，容易留痕<br>
				5.昙雅乖乖崽:<br>
				打出来妆效丑，浮妆假面，不好处理边边角角，容易留痕<br>
				6.古迪:<br>
				打出来妆效丑，材质不好，处理不了边角，容易留痕
	
			</p>
